<div class="d-flex justify-content-center">
    <div class="col-md-6 p-5 mt-5 text-bg-dark rounded-3">
        <div class="alert" id="alertRolEliminar">
            <span id="msgRolEliminar"></span>.
            <a href="#catcimanage" class="alert-link">Clic aquí para verificar</a>
          </div>
          
    </div>
</div>