<div class="d-flex justify-content-center">
  <div class="col-md-5 mt-4">
    <form
      action="javascript:crearRol();"
      id="formaRol"
      class="validarFormulario"
      novalidate
    >
      <div class="card">
        <div class="card-header">
          Creación de categorias para las citas medicas
        </div>

        <div class="card-body">
          <div class="mb-3">
            <label for="nom" class="form-label">Nombre de la categoria para cita</label>
            <input type="text" class="form-control" id="nom" required />
          </div>
        </div>

        <div class="card-footer text-muted">
          <button type="submit" class="btn btn-primary">Crear categoria</button>
        </div>
      </div>
    </form>
  </div>
</div>

<div class="d-flex justify-content-center">
  <div class="col-md-5 mt-4">
    <div class="alert alert-primary" id="rolMsgOk" style="display: none">
      Categoria de cita almacenada correctamente
    </div>

    <div class="alert alert-danger" id="rolMsgError" style="display: none">
      Categoria de cita no puedo ser creada
    </div>
  </div>
</div>
