<div class="d-flex justify-content-center">
    <div class="col-md-8 mt-4">
        <h5>Listado de las categoria de citas</h5>
        <table class="table table-sm" id="tablaRoles">
            <thead>
                <tr class="table-warning">
                    <th style="width: 20%;">Código</th>
                    <th style="width: 80%;">Categoria de cita</th>
                </tr>
            </thead>
            <tbody>
            </tbody>

        </table>
    </div>
</div>