<div class="d-flex justify-content-center">
  <div class="col-md-5 mt-4">
    <form
      action="javascript:actualizarCateCita();"
      id="formaRol"
      class="validarFormulario"
      novalidate
    >
      <div class="card">
        <div class="card-header">Formulario de actualización de categorias de citas</div>

        <div class="card-body">
          <div class="mb-3">
            <input type="hidden" class="form-control" id="cod" required />
            <label class="form-label">Nombre del rol</label>
            <input type="text" class="form-control" id="nom" required />
          </div>
        </div>

        <div class="card-footer text-muted">
          <button type="submit" class="btn btn-primary">Actualizar categoria de cita</button>
        </div>
      </div>
    </form>
  </div>
</div>

<div class="d-flex justify-content-center">
  <div class="col-md-5 mt-4">
    <div class="alert alert-primary" id="rolMsgOk" style="display: none">
      Categoria de cita actualizada correctamente
    </div>

    <div class="alert alert-danger" id="rolMsgError" style="display: none">
      No se pudo actualizar la categoria de cita
    </div>
  </div>
</div>
