<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="#home">
      <img src="src/assets/images/logo.jpeg" alt="Nologo" />MiCita
    </a>
    <div class="collapse navbar-collapse" id="navbarText">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item dropdown">
          <a
            class="nav-link dropdown-toggle"
            href="#"
            role="button"
            data-bs-toggle="dropdown"
            aria-expanded="false"
          >
            Categoria citas
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="#catcitaadd">Registro</a></li>
            <li><a class="dropdown-item" href="#catcilist">Listar</a></li>
            <li><a class="dropdown-item" href="#catcimanage">Administrar</a></li>
          </ul>
        </li>
        <li class="nav-item dropdown">
          <a
            class="nav-link dropdown-toggle"
            href="#"
            role="button"
            data-bs-toggle="dropdown"
            aria-expanded="false"
          >
            Categoria especialidades medicos
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="#">Registro</a></li>
            <li><a class="dropdown-item" href="#">Listar</a></li>
            <li><a class="dropdown-item" href="#">Administrar</a></li>
          </ul>
        </li>
        <li class="nav-item dropdown">
          <a
            class="nav-link dropdown-toggle"
            href="#"
            role="button"
            data-bs-toggle="dropdown"
            aria-expanded="false"
          >
            Citas
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="#">Asginar cita</a></li>
            <li><a class="dropdown-item" href="#">Asignar disponibilidad</a></li>
            <li><a class="dropdown-item" href="#">Visualizar citas por paciente</a></li>
            <li><a class="dropdown-item" href="#">Visualizar citas por doctor</a></li>
          </ul>
        </li>
        <li class="nav-item dropdown">
          <a
            class="nav-link dropdown-toggle"
            href="#"
            role="button"
            data-bs-toggle="dropdown"
            aria-expanded="false"
          >
            Medicamentos
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="#">Asignar medicación</a></li>
            <li><a class="dropdown-item" href="#">Visualizar medicación</a></li>
          </ul>
        </li>
      </ul>
      <span class="navbar-text">
        <a class="btn btn-success" href="#">Registro de usuarios</a>
      </span>
    </div>
  </div>
</nav>
